$mobile-width: 0px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-2K-width: 2440px;

@mixin non-desktop {
    @media (min-width: #{$mobile-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktop-2K {
    @media (min-width: #{$desktop-2K-width}) {
        @content;
    }
}
