$red: #c41e25;
$red2: #753737;
$red2-transparent: rgba(117, 55, 55, .35);
$red3: #984040;
$gray: #a8a8a8;
$blue: rgb(103, 226, 230);
$yellow: rgb(235,192,59);
$shadow: rgba(0, 0, 0, .35);
$blur: 12px;